h2 {
    color: #EEEEEE;
    font-size: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #EEEEEE;
}

.button {
    border-radius: 15px;
    border: 2px solid black;
    background-color: rgb(184, 62, 62);
    width: 275px;
    height: 35px;
    font-size: 27px;
    text-align: center;
}

.button:hover {
    background-color: rgb(124, 89, 89);
    cursor: pointer;
}

@media only screen and (min-width: 1001px) {
    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin: 0px 100px;
        background-color: #31363F;
    }

    .titles {
        flex: 1 1 25%;
        display: flex;
        justify-content: space-around;
        font-size: 25px;
    }

    .heading {
        /* Set to 50% for circle */
        border-radius: 30px;
        height: 75px;
        width: calc(100vw-60px);
        margin: 30px 30px;
        border: 3px solid black;
        background-color: #76ABAE;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        color: #EEEEEE;
    }
    
    .kobspage { 
        flex: 1 0 30%;
        margin-left: 70px;
        font-size: 25px;
    }

    p {
        text-align: center;
        color: #EEEEEE;
        font-size: 20px;
        margin-top: 0;
        overflow: auto;
    }

    
    .navbar {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 70px;
        background-color: #76ABAE;
        /* width, line type, colour */
        border-bottom: 2px solid black;
        box-shadow: 5px 5px 12px black;
        z-index: 2;
    }
    
    .big-text {
        font-size: 25px;
    }
}

.mainheading {
    font-size: 50px;
    margin-top: 125px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.title:hover {
    color: gray;
    cursor: pointer;
}


@media only screen and (max-width: 1000px) {
    body {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-color: #31363F;
    }

    .titles {
        display: flex;
        justify-content: space-around;
        font-size: 20px;
    }

    .heading {
        /* Set to 50% for circle */
        border-radius: 30px;
        height: 75px;
        border: 3px solid black;
        background-color: #76ABAE;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 35px;
        color: #EEEEEE;
    }

    .kobspage { 
        flex: 1 0 25%;
        font-size: 20px;
        padding-right: 30px;
    }

    p {
        text-align: center;
        color: #EEEEEE;
        font-size: 15px;
        margin-top: 0;
        overflow: auto;
    }
    
    .big-text {
        font-size: 20px;
    }
    
    .navbar {
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background-color: #76ABAE;
        border-bottom: 2px solid black;
        box-shadow: 5px 5px 12px black;
        z-index: 2;
    }

    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 16px;
        margin: 7px;
    }
}

.mini-apps {
    width: 100%;
    height: 550px;
    border-radius: 10px;
    border: 2px solid white;
}