.expandable-box {
    min-height: 50px;  /* minimum height */
    padding: 30px;
    border-radius: 30px;
    margin: 10px;
    width: 70%;
    display: flex;
    overflow: auto;
    height: fit-content;
    align-items: center;
    border: 1px solid black;
    background-color: gray;
    box-sizing: border-box;  /* includes padding and border in the element's total width and height */
    word-wrap: break-word;  /* breaks long words */
}

.card-left, .card-right {
    width: 292px;
    height: 400px;
    margin: 75px 0;
    border-radius: 12px;
    border: 2px solid transparent;
}

.card-left {
    rotate: 10deg;
    box-shadow: 0 0 10px 5px gold;
}

.card-right {
    rotate: -10deg;
    box-shadow: 0 0 10px 5px #89cff0;
}

.description-holder {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: fit-content;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1000px) {
    .expandable-box {
        min-height: 50px;  /* minimum height */
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        border-radius: 30px;
        margin: 10px;
        width: 90%;
        justify-content: center;
        display: flex;
        border: 1px solid black;
        background-color: gray;
        box-sizing: border-box;  /* includes padding and border in the element's total width and height */
        overflow: auto;  /* hide overflow for aesthetic */
        word-wrap: break-word;  /* breaks long words */
    }

    .description-holder {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        height: fit-content;
        margin-bottom: 20px;
    }

    .card-left {
        display: none;
    }
}

