
.maincircles {
    font-size: 50px;
    margin: 50px 35px 25px 35px;
    width: calc(100% - 70px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.maincircle {
    border-radius: 50%;
    border: 2px solid black;
    width: 300px;
    height: 300px;
    margin: 10px 35px;
    background-size: 100% 100%;
}

.maincircle:hover {
    box-shadow: 0 0 10px 5px #89cff0;
}

.project-image {
    background-image: url(/assets/intrusion-bg.png);
    background-size: cover;
    background-position: center;
}

.skillset-image {
    background-image: url(/assets/skillset.png);
    background-size: cover;
    background-position: center;
}

.about-me-image {
    background-image: url(/assets/friends.jpg);
    background-size: cover;
    background-position: center;
}

.kp-container {
    border: 3px solid black;
    border-radius: 35px;
    width: 500px;
    height: 500px;
    background-size: 100%;
    background-image: url(/assets/kp.png);
    margin: 0 auto;
}

@media only screen and (max-width: 700px) {
    .kp-container {
        border: 3px solid black;
        border-radius: 35px;
        width: 250px;
        height: 250px;
        background-size: 100%;
        background-image: url(/assets/kp.png);
        margin: 0 auto;
    }
}